---
const routers = [
    {name: '首页', url: '/'},
    {name: '关于', url: '/about/'},
    {name: '博客', url: '/blog/'},
]
---
{routers.map(item=>(
<a style="" href={item.url}> {item.name} </a>
<></>
    ))}
