---
const routers = [
    {name: '首页', url: '/'},
    {name: '关于', url: '/about/'},
    {name: '博客', url: '/blog/'},
]
---
<div class="nav-links">
    {
        routers.map(item => (
                <a style="" href={item.url}> {item.name}</a>
                <></>
        ))
    }
</div>
